// .layout{
//     background:
//     url("./../../assets/images/bggeo1.jpg") center repeat !important;
// }

.highest {
  z-index: 1000 !important;
}

.def_btn {
  transition: 0.3s !important;
}

.user-page {
  height: 2vh !important;
}
